.form {
	color: $gray-3;
	position: relative;
	.form-control {
		position: relative;
		&:first-child {
			margin: 10px 0;
		}
		&__input {
			width: 100%;
			padding: 23px 0 8px 22px;
			border: 1px solid $gray-2;
			border-radius: 4px;
			font-size: 1.4rem;
			color: $gray-1;
			&:focus + label,
			&.notempty + label {
				font-size: 1.2rem;
				transform: translate(0, -100%);
			}
		}
		&__label {
			cursor: text;
			position: absolute;
			top: 50%;
			left: 22px;
			font-size: 1.4rem;
			transform: translate(0, -50%);
			transition: all 0.2s ease-in-out;
		}
		&__icon {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(5%, -50%);
			color: $gray-3;
			font-size: 1.9rem;
			height: 100%;
			width: 40px;
			text-align: center;
		}
		&__btn {
		}
	}
}

.error__span {
	display: block;
	text-align: center;
	position: relative;
	top: 15px;
}
